.go-back-link {
  margin-top: 10px;
  margin-left: 4px;
  margin-bottom: 40px;
  display: inline-block;
  cursor: pointer;
  color: blueviolet;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  font-weight: 500;
  font-size: large;
}

.iziToast > .iziToast-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

fieldset {
  width: 360px;
  height: 42px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 8px;
  border: 1px solid #808080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 48px;
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

fieldset:hover {
  border: 1px solid #000000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  color: #2e2f42;
  max-width: 360px;
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 16px;
}

button {
  width: 360px;
  border-radius: 8px;
  border: none;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #6c8cff;
}

.delay-ms {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 70px;
}

#delay-ms-input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

#delay-ms-input:hover {
  border: 1px solid #000000;
}

#delay-ms-input:active {
  border: 1px solid #4e75ff;
}

fieldset > legend {
  margin-left: 20px;
}

fieldset > label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#delay-ms-input {
  margin-top: 8px;
  height: 40px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #808080;
}

input[type='radio'] {
  width: 18px;
  height: 18px;
  margin-top: 0px;
  background-color: transparent;
  outline: none;
}

input[type='radio']:checked::before {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-6px, -6px);
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url('../img/checked.png');
  background-size: cover;
}
